/* base.css */
* {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}



html {
	line-height: 1.4125;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}
h1{
	color:#4b738c;
}
a {
	color: inherit;
	text-decoration: none;
}


/* theme.css */

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*+p {
	margin-top: 1em;
}

h2+* {
	margin-top: 1.5em;
}
body {
	
	display: flex;
	flex-direction: column;
	gap: 40px;
}
body>header {/* On met le header en flex et on centre les mots */
	display: flex;
    justify-content: space-between;
	gap: 40px;
	align-items: center;
	padding: 20px;
    background-color:#c4b5a0 ;
}


body>header nav {
	display: flex;
	gap: 20px;
    color:white;
}

nav :is(a, span) {
	padding: 5px 10px; /* Espace entre les mots du menu */
	display: inline-block;/* Met le MD sur la meme ligne */
}

nav :is(a, span):hover {
	color: #2b475c;/* Couleur de fond en hover */
}

.bouton {
	display: inline-block;
	padding: 6px 10px;
	background-color: #c4b5a0;
	border-radius: 5px;
	margin-top:10px;
}
input {
	display: inline-block;
	padding: 4px 8px;
	border:1px solid #2b475c;
	
	border-radius: 5px;
	margin-top:10px;
}
.bouton:hover{
	color:lightgrey;
	background-color: #2b475c;
	border-radius: 5px;
}
main{
	display:flex;
	flex-direction: column;
	gap:60px;
}
section{
	padding-left:30px;
	padding-right:30px;
}
footer{

    color:white;
    width: 100%;

} 
.ElementFooter{
    display: flex;
    justify-content: space-between;
    background: #2b475c;
	gap: 40px;
	align-items: center;
	padding: 20px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}





